---
const { title } = Astro.props;
const innerRadius = 16;
const distance = 2; // padding of outer element
const outerRadius = innerRadius + distance;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="./hlogo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hashdown</title>
  </head>
  <body>
    <div
      class="navbar"
    >
      <a class="text-2xl font-bold" href="/">
        <img src="/hashdown.png" alt="logo" width={250} height={50} />
      </a>
      <a href="#pricing">Pricing</a>
      <a href="https://app.gethashdown.com">Sign up</a> 
    </div>
    <slot />
    <!-- <Footer /> -->
  </body>

  <style>
    .navbar {
      borderRadius: `${outerRadius}px`,
      padding: `${distance}px`,
      backgroundColor: "whitesmoke",
      borderWidth: "1.5px",
    }
    .nav-item {
      
              borderRadius: `${outerRadius}px`,
              padding: `${distance}px`,
              backgroundColor: "#ffed66ff",
            }
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
